.invisibleButton {
    display: flex;
    align-items: center;
    background-color: transparent;
    outline: none;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 3px;
    height: 18px;
    border: none;
    padding: 0;
}

.buttonText {
    flex: 1;
}

.buttonImageFile {
    fill: #CACCCE;
    height: 16px;
    width: 16px;
}

.buttonImageFile:hover {
    fill: #8E9396;
}
