.mainPhoto {
    margin-top: 100px;
    max-width: 1300px;
    max-height: 800px;
    margin-bottom: 50px
}

.mainPhotoDiv {
    display: flex;
    border-top: 100px;
    background-color: darkblue;
    justify-content: center;
}

.photographerPhotoProfilePhotoImg {
    position: relative;
    height: 60px;
    border-radius: 50%;
    transition: opacity 0.3s
}
