.mainPhoto {
    margin-top: 100px;
    max-width: 1800px;
    min-height: 500px;
    max-height: 900px;
}

.mainPhotoDiv {
    width: 100%;
    display: flex;
    background-color: #212124;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.photographerPhotoProfilePhotoImg {
    margin-top: 30px;
    position: relative;
    height: 60px;
    border-radius: 50%;
    transition: opacity 0.3s;
}

.photoInfoAndCommentsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
}


.photoInfoTop {
    display: flex;
    width: 50%;
    min-width: 1000px;
    justify-content: space-between;
}

.wholePhotoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f5f6;
}

.photoMainInfoDivLeft {
    display: flex;
    align-items: flex-start;
}

.photoImportantInfoDiv {
    width: 80%;
    margin-left: 10px;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 20px;
    border-bottom: 1px lightgray solid;
}

.photoMainInfoDiv {
    width: 60%;
}

.photoTitle {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-weight: Bold;
}

.photoDescription {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    word-wrap: break-word
}

.mainInfoDivInfo {
    padding-top: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px lightgray solid;
    padding-left: 10px;
    padding-right: 10px;
}

.photoMainInfoDivRight {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    width: 40%;
}


.photoFavorites {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photoFavoritesText {
    font-size: 13px;
    color: gray
}

.photoFavoritesCount {
    font-size: 18px;
}

.photoCommentsText {
    font-size: 13px;
    color: gray
}

.photoCommentsCount {
    font-size: 18px;
}

.photoComments {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photoDates {
    font-family: Arial, Helvetica, sans-serif;
}

.photoUploadDate {
    font-size: 16px;
}

.photoTakenDate {
    padding-top: 3px;
    font-size: 15px;
    color: gray
}

.commentsSection {
    width: 1000px;
    display: flex;
}

.wholePhotoDiv {
    display: flex;
}

.commentUserNameandTimeAndComment {
    padding-top: 7px;
    display: flex;
    flex-direction: column;
}

.commentUserNameAndTime {
    display: flex;
    padding-bottom: 7px;
}

.allCommentsDiv {
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    width: 51%
}

.wholeCommentDiv {
    align-items: flex-start;
    position: relative;
    padding: 0px 0px 6px 6px;
    margin-left: 10px;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    transition: background-color 0.3s;

}

.wholeCommentDiv:hover {
    background-color: white
}

.timeSinceComment {
    color: gray;
    font-size: 14px;
    padding-left: 10px;
}

.photoPhotographerName {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}


.commentUserNameDiv {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #006DAC;
    text-decoration: none;
}

.photoPhotographerName:hover,
.commentUserNameDiv:hover {
    text-decoration: underline;
    color: #006DAC;
}

.commentTextDiv {
    font-size: 14px;
    overflow-wrap: break-word;
    word-break: break-word;
}


.commentForm {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.commentUserProfilePhoto {
    margin-top: 7px;
    margin-right: 10px;
    position: relative;
    height: 40px;
    border-radius: 50%;
}

.commentTextInput {
    font-family: Arial, Helvetica, sans-serif;
    height: 80px;
    width: 400px;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.submitCommentButton {
    width: 100px;
    margin-top: 5px;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #006dac;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.newCommentDiv {
    padding: 0px 0px 6px 6px;
    margin-left: 10px;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

.commentFormRightSide {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.editAndDeleteButtons {
    position: absolute;
    display: flex;
    top: 3px;
    right: 2px;
    opacity: 0;
    transition: opacity 0.3s
}

.wholeCommentDiv:hover .editAndDeleteButtons {
    opacity: 1
}

.errorContainer {
    width: 100%;
}

.commentTooLongError {
    margin-left: 5px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.entirePageDiv {
    height: 100vh;
    background-color: #f3f5f6
}

.favoriteButton {
    display: flex;
    height: 36px;
    width: 36px;
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
    padding-top: 7px;
    cursor: pointer
}

.unfavoriteButton {
    display: flex;
    height: 36px;
    width: 36px;
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
    padding-top: 7px;
    cursor: pointer
}

.fa-star {
    color: white;
}

.favoriteButtonWrapper {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.bottomPaddingDiv {
    height: 50px;
    width: 27%
}
