.masonryDiv {
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.fullExplorePage {
    display: flex;
    justify-content: center;
    background-color: #F3F5F6;
    flex-direction: column;
    align-items: center;
}

.exploreHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: lighter;
    width: 71.4%
}

.spacerDiv {
    height: 50px;
    width: 100%;
}

.divOverPhotoExplore {
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.photoWithHoverDiv {
    position: relative;
    height: 300px
}


.photoWithHoverDiv:hover .divOverPhotoExplore {
    opacity: 1;
}

.divOverPhotoExplore::before,
.divOverPhotoExplore::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 30%;
    z-index: 0;
}

.divOverPhotoExplore::before {
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.divOverPhotoExplore::after {
    bottom: 0;
    background: none;
}


.hoverPhotoTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: white;
    position: absolute;
    width: 80%;
    bottom: 30px;
    left: 10px;
}

.hoverPhotoTakerName {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: lightgrey;
    position: absolute;
    width: 80%;
    bottom: 10px;
    left: 10px;
}

.hoverFavoriteCount,
.hoverCommentCount {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 13px;
    position: absolute;
}

.hoverFavoriteCount {
    bottom: 7px;
    right: 60px;
}

.hoverCommentCount {
    bottom: 7px;
    right: 20px;
}

.hoverFavoriteCount svg {
    fill: white;
    transform: translateY(0.8px) translateX(-3px)
}

.hoverCommentCount svg {
    fill: white;
    transform: translateY(1.5px) translateX(-4px)
}

.loadingPhotosDiv {
    display: flex;
    font-size: 20px;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.loadingIcon {
    height: 20px;
    margin-right: 5px;
}

.noMorePhotosDiv {
    display: none;
    font-family: Arial;
}

.noMorePhotosContainer {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
